@import url(https://fonts.googleapis.com/css?family=Righteous);

html{
  scroll-behavior: smooth;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  }

html, body {
  height: 100%;
  }
  body {
    text-align: center;
    background-color: hsla(230,40%,50%,1);
    font-family: sans-serif;
    }

h1 {
  display: inline-block;
  color: white;
  font-family: 'Righteous', serif;
  font-size: 16em; 
  text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
  }
  h1:after {
    content: attr(data-shadow);
    position: absolute;
    top: .06em; left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsla(48,20%,90%,1) 45%,
        hsla(48,20%,90%,1) 55%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    animation: shad-anim 15s linear infinite;
    }

@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
  }
@media (max-width:1200px){
  h1{
    font-size: 7em;
    text-align: center;
  }
  header{
    margin:20px;
  }
}
@media (max-width:786px){
  .menu-toggle{
    display:block;
    width:40px;
    height:40px;
    margin:10px;
    float:right;
    cursor:pointer;
    text-align:center;
    font-size:30px;
    color:#252525;

  }
  .menu-toggle:before{
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 40px;
  }
  .menu-toggle.active:before{
    content: '\f00d';
  }
  nav{
    display:none;
  }
  nav.active{
    display:block;
    width:100%;
  }
  nav.active ul{
    display:block;
  }
  nav.active ul li a{
    margin:0;
  }
  .link:hover{
    background:#252525;
    color:white;
    transition:0.2s;
    display:block;
    text-decoration: none;
    font-family:sans-serif;
    font-weight: 700;
  }
  .link:after{
    height:0px;
    width:0%;
  }
  .link:hover::after{
    width:0%;
    height:0px;
  }
  .typewriter{
    font-size:0.7em;
    white-space: normal;
    align-items: center;
    text-align: center;
  }
  text tspan{
    font-size:1em;
    text-align: center;
    margin-left:-10%;
  }
  .first-svg{
    text-align: center;
    left:-5%;
  }
  .second-svg{
    font-size:0.8em;
    text-align: center;
    left:-5%;
  }
  .quiz{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left:-1%;
  }
  .quizzes{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left:-1%;
  }
  .third-svg{
    font-size:0.8em;
    text-align: center;
    left:-7%;
  }
  .form{
    margin:20px;
  }
  .Finale{
    border-radius: 10px;
    margin:10px auto;
    box-sizing: border-box;
  }
}
header{
  position:relative;
  max-width:100%;
  padding:10px;
  background:white;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:0 2px 5px rgba(0,0,0,.2);
}
.logo{
  color:#252525;
  height:30px;
  font-size:36px;
  line-height:60px;
  padding:0 20px;
  text-align:center;
  box-sizing: border-box;
  float:left;
  font-weight:900;
  text-decoration:none;
  font-family:sans-serif;
}
nav{
  float:right;
}
.clearfix{
  clear:both;
}
nav ul{
  margin:0;
  padding:0;
  display:flex;
  text-decoration: none;
}
nav ul li{
  text-decoration: none;
}
.link{
  display:block;
  margin:10px 0;
  padding:10px 20px;
  text-decoration: none;
  color:#252525;
  font-family:sans-serif;
  font-weight: 700;
}
nav ul li a.active{
  background:#252525;
  color:white;
  transition:0.5s;
  display:block;
  margin:10px 0;
  padding:10px 20px;
  text-decoration: none;
  font-family:sans-serif;
  font-weight: 700;
}
.link:after{
  content:'';
  display:block;
  width:0%;
  height:3px;
  background-color: #252525;
  transition: width .3;
}
.link:hover::after{
  width:100%;
  transition: width .3s;
}
.typewriter h2 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 4s steps(30, end) infinite,
    blink-caret .5s step-end infinite;
  text-align: center;
  font-size: 2em;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes textAnim {
  0% {font-size: 80px; fill: white;}
  10% {font-size: 100px; fill: #252525;}
  40% {font-size: 70px; fill: white;}
  100% {font-size: 80px; fill: white;}
}

@-webkit-keyframes textAnim {
  0% {font-size: 80px; fill: white;}
  10% {font-size: 100px; fill: #252525;}
  40% {font-size: 70px; fill: gray;}
  100% {font-size: 80px; fill: white;}
}

text tspan{
  font-family: Helvetica, Arial;
  font-weight: 900;
  animation: textAnim 2s ease infinite;
  -webkit-animation: textAnim 2s ease infinite;
  font-size:3em;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.first-svg{
  text-align:center;
  margin-top:10%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-left: -5%;
}

#l2 {
  animation-delay: .1s;
  -webkit-animation-delay: .1s;
}
#l3 {
  animation-delay: .2s;
  -webkit-animation-delay: .2s;
}
#l4 {
  animation-delay: .3s;
  -webkit-animation-delay: .3s;
}
#l5 {
  animation-delay: .4s;
  -webkit-animation-delay: .4s;
}
#l6 {
  animation-delay: .5s;
  -webkit-animation-delay: .5s;
}

#l7 {
  animation-delay: .6s;
  -webkit-animation-delay: .6s;
}
#l8 {
  animation-delay: .6s;
  -webkit-animation-delay: .6s;
}
#l9 {
  animation-delay: .6s;
  -webkit-animation-delay: .6s;
}
.topbtn{
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:white;
  color: #252525;
  cursor: pointer;
  padding: 15px;
}
.topbtn:hover{
    background:#252525;
    color:white;
}
#animated-text {
  font: 1.2em/1.5 "Baloo";
  color:white;
  font-family:sans-serif;
  font-weight:700;
  margin:10px auto;
  text-align: center;
  letter-spacing: .1em;
  justify-content: center; 
  margin-left:100px;
  line-height:3em;
  margin-right:100px;
  box-sizing: border-box;
}

#animated-text p.letter{
  display:inline-block;
  animation: 1s wave backwards ease-in-out infinite;
}

@keyframes wave {
  0%{
    transform: translateY(0em);
  }
  50%{
    transform: translateY(-1em);
  }
}

@keyframes flip {
  0%{
    transform: rotateX(0deg);
  }
  50%{
    transform: rotateX(90deg);
  }
  100%{
    transform: rotateX(0deg);
  }
}

@keyframes pop {
  0%{
    transform: rotateZ(5deg) scale(0.75) translateY(0);
    opacity:0.1;
  }
  50%{
    transform: rotateZ(-5deg) scale(1) translateY(-0.5em);
    opacity:1;
  }
  100%{
    transform: rotateZ(5deg) scale(0.75) translateY(0);
    opacity:0.1;
  }
}

@keyframes tilted {
  0%{
    transform: rotateZ(-15deg);
  }
  50%{
    transform: rotateZ(15deg);
  }
  100%{
    transform: rotateZ(-15deg);
  }
}

@keyframes shine {
  75%{
    color: inherit;
  }
  100%{
    color: #fff;
  }
}

@keyframes crazy {
  0%{
    transform: translateY(0) rotateX(90deg);
  }
  50%{
    transform: translateY(-1em) rotateX(0deg);
  }
  100%{
    transform: translateY(0) rotateX(-90deg);
  }
}

@keyframes newone {
  0%{
    font-size: 3rem;
  }
  50%{
    font-size: 3.5rem;
  }
  100%{
    font-size: 3rem;
  }
}
.second-svg{
  text-align:center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-left: -5%;
}
.container {
  position: relative;
  margin-top: 50px;
  width: 400px;
  height: 300px;
  margin:10px;
  border-radius: 8px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  margin:10px;
  border-radius: 8px;
}

.container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

img {
  position: absolute;
  width: 400px;
  height: 300px;
  left: 0;
  object-fit: cover;
  margin:10px;
  border-radius: 8px;
}

.title {
  position: absolute;
  width: 400px;
  left: 0;
  top: 120px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
  text-shadow: black;
  
}

.container:hover .title {
  top: 90px;
}

.button {
  position: absolute;
  width: 400px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
  text-decoration: none;
}

.container:hover .button {
  opacity: 1;
}
.quiz{
  display:flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.quizzes{
  display:flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: black;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
  font-family: sans-serif;
  font-weight: 500;
}

.styled-input {
  float: left;
  width: 305px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px){
  .styled-input {
      width:100%;
  }
}

.styled-input label {
  color: black;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  font-family: sans-serif;
  font-weight: 500;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide { 
  width: 650px;
  max-width: 100%;
  outline: 2px #252525 solid;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1em;
  background-color: white;
  color: black;
  border-radius: 4px;
  outline: 2px #252525 solid;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 10em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  float: right;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #252525;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
            0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
            0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
  .submit-btn {
      width:50%;
      float: right
  }
}

input[type=checkbox] + label {
color: #ccc;
font-style: italic;
} 

input[type=checkbox]:checked + label {
color: #f00;
font-style: normal;
}
.third-svg{
  text-align:center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-left: -5%;
}
.contact-kijiye p{
  color:white;
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2em;
  text-shadow:
    -1px -1px 0 #252525,
    1px -1px 0 #252525,
    -1px 1px 0 #252525,
    1px 1px 0 #252525,  
    -2px 0 0 #252525,
    2px 0 0 #252525,
    0 2px 0 #252525,
    0 -2px 0 #252525;
}
.Finale{
  background:white;
  color:#252525;
  font-size:15px;
  font-family:sans-serif;
  font-weight:600;
  align-items: center;
  justify-content: center;
  width:100%;
  box-sizing:border-box;
  text-align: center;
  padding:3px;
  box-shadow: #252525 10px ;
}
.iconss{
  text-align: center;
}
.iconss i{
color:#252525;
}